.App {
  overflow-x: hidden;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
  min-height: calc(100vh - 106px);
}

.cardFooterBtn {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  padding: 10px !important;
}
/* dkestop */
@media (min-width: 1026px) {
  .pageTitle {
    font-size: 2.5em;
    text-align: center;
  }
  .pageMessage {
    font-size: 1.5em;
    font-weight: 300;
    /* text-align: center; */
  }
  .pageSubTitle {
    font-size: 1.6em;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #mainContainer {
    position: relative;
    top: 100px;
    min-height: 85vh;
  }
  .headerContainer {
    padding: 50px 0px;
  }
}

/* iPads */
@media (min-width: 760px) and (max-width: 1025px) {
  .pageTitle {
    font-size: 2.5em;
    text-align: center;
  }
  .pageMessage {
    font-size: 1.5em;
    font-weight: 300;
    /* text-align: center; */
  }
  .pageSubTitle {
    font-size: 1.6em;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #mainContainer {
    position: relative;
    top: 100px;
    min-height: 90vh;
  }
  .headerContainer {
    padding: 50px 0px;
  }
}
/* phone */
@media (max-width: 759px) {
  .pageTitle {
    font-size: 2.5em;
    text-align: center;
  }
  .pageMessage {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
  }
  .pageSubTitle {
    font-size: 1.6em;
  }
  #mainContainer {
    margin-top: 65px;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #mainMessage1 {
    font-size: 3em;
  }
  #mainMessage2 {
    font-size: 3em;
  }
  #reverse {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0px;
  }
}
