/* phone */
@media (max-width: 759px) {
  .formFieldGroupCenter {
    text-align: left;
  }
  #schedulingFormContainer {
  }
  .formSectionTitleContainer {
    margin-bottom: 1rem;
  }
  .formSectionTitle {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .formSectionSubTitle {
    font-size: 1em;
    font-weight: 300;
    color: rgb(110, 110, 110);
    margin-bottom: 0px;
  }
}

.formSection {
  width: -webkit-fill-available;
}

.fields {
  display: flex;
  margin: 0px;
}
