/* phone */
@media (max-width: 759px) {
  #mainContainer {
    margin-top: 57px;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #mainMessage1 {
    font-size: 3em;
  }
  #mainMessage2 {
    font-size: 3em;
  }
  #reverse {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0px;
  }
  #aboutImage {
    width: 150px;
    position: relative;
  }
  #aboutImageContainer {
    display: flex;
    justify-content: center;
    height: 250px;
    margin: 10px 0px;
  }
  #abouMessageContainer {
    margin-top: 25px;
  }
  #abouMessageHeader {
    font-size: 1.5em;
  }
  #abouMessageParagraph {
    font-size: 1em;
    font-weight: 300;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 760px) and (max-width: 992px) {
  #mainContainer {
    position: relative;
    top: 100px;
    height: 1000px;
  }
  #aboutImage {
    width: 400px;
    position: relative;
    left: -125px;
    top: 50px;
  }
  #abouMessageContainer {
    margin: 100px 20px 0px 50px;
  }
  #abouMessageHeader {
    font-size: 2em;
  }
  #abouMessageParagraph {
    font-weight: 300;
    line-height: 40px;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #mainMessage1 {
    font-size: 5em;
  }
  #mainMessage2 {
    font-size: 5em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  #mainContainer {
    position: relative;
    top: 100px;
    height: 1200px;
  }
  #aboutImage {
    width: 500px;
    position: relative;
    left: -125px;
    top: 50px;
  }
  #abouMessageContainer {
    margin: 200px 20px 0px 50px;
  }
  #abouMessageHeader {
    font-size: 3em;
  }
  #abouMessageParagraph {
    font-weight: 300;
    line-height: 40px;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #mainMessage1 {
    font-size: 7em;
  }
  #mainMessage2 {
    font-size: 7em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #mainContainer {
    position: relative;
    top: 56px;
    /* height: 1000px; */
  }
  #aboutImage {
    width: 100%;
    position: relative;
    left: -200px;
  }

  #abouMessageContainer {
    margin: 200px 100px 0px 200px;
  }
  #abouMessageHeader {
    font-size: 3.2em;
    font-weight: 900;
  }
  #abouMessageParagraph {
    font-weight: 300;
    line-height: 50px;
  }
  #mainMessageContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  #mainMessage1 {
    font-size: 7em;
  }
  #mainMessage2 {
    font-size: 7em;
  }
}
