/* desktop */
@media (min-width: 1026px) {
  .formSectionSubTitle {
    font-size: 1.4em;
    font-weight: 400;
    margin: 50px 0px;
  }
  #schedulingFormContainer {
    padding-bottom: 300px;
  }
}

/* iPads */
@media (min-width: 760px) and (max-width: 1025px) {
  .formSectionSubTitle {
    font-size: 1.4em;
    font-weight: 400;
    margin: 20px 0px;
  }
  #schedulingFormContainer {
    padding-bottom: 200px;
  }
}

/* phone */
@media (max-width: 759px) {
  .formFieldGroupCenter {
    text-align: left;
  }
  #schedulingFormContainer {
    padding-bottom: 200px;
  }
  .formSectionTitleContainer {
    margin-bottom: 1rem;
  }
  .formSectionTitle {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .formSectionSubTitle {
    font-size: 1em;
    font-weight: 300;
    color: rgb(110, 110, 110);
    margin-bottom: 0px;
  }
}

.formSection {
  width: -webkit-fill-available;
}

.fields {
  display: flex;
  margin: 0px;
}
