#logoContainer {
  display: flex;
  justify-content: center;
}
.fadeIt {
  transition: all 1s; /*Change the opacity to all*/
}
#abouMessageParagraph {
  color: white;
}
/* phone */
@media (max-width: 759px) {
  #mainContainer {
    padding-top: 65px;
  }
  #mainMessage1 {
    font-size: 3em;
  }
  #mainMessage2 {
    font-size: 3em;
  }
  #reverse {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0px;
  }
  #aboutImage {
    width: 100%;
    position: relative;
  }
  #aboutImageContainer {
    display: flex;
    justify-content: center;
    height: 70vh;
    margin: 10px 0px;
  }
  #abouMessageContainer {
    margin-top: 25px;
    text-align: center;
  }
  #abouMessageHeader {
    font-size: 1.5em;
  }
  #abouMessageParagraph {
    font-family: Haettenschweiler;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
  }
}

/* ipads */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 760px) and (max-width: 1366px) {
  #aboutImage {
    width: 300px;
    position: relative;
    left: -40px;
    top: 100px;
  }
  #abouMessageContainer {
    margin: 100px 20px 0px 50px;
  }
  #abouMessageHeader {
    font-size: 2em;
  }
  #abouMessageParagraph {
    font-family: Haettenschweiler;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 28.4px;
    /* line-height: 55.4px; */
  }
  #mainMessage1 {
    font-size: 5em;
  }
  #mainMessage2 {
    font-size: 5em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  #aboutImage {
    width: 400px;
    position: relative;
    left: -25px;
    top: 150px;
  }
  #abouMessageContainer {
    margin: 200px 20px 0px 50px;
  }
  #abouMessageHeader {
    font-size: 3em;
  }
  #abouMessageParagraph {
    font-family: Haettenschweiler;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
    line-height: 55.4px;
  }
  #mainMessage1 {
    font-size: 7em;
  }
  #mainMessage2 {
    font-size: 7em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
  #aboutImage {
    width: 80%;
    position: relative;
    left: -100px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  #abouMessageContainer {
    margin: 200px 100px 0px 200px;
  }
  #abouMessageHeader {
    font-size: 3.2em;
    font-weight: 900;
  }
  #abouMessageParagraph {
    /* font-weight: 400;
    line-height: 50px;
    font-family: Haettenschweiler;
    font-size: 24px;
    font-style: normal;
    line-height: 56.4px; */

    /* font-family: "Hoefler Text";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
    font-variant: small-caps;
    line-height: 55.4px; */
    font-family: Haettenschweiler;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
    line-height: 55.4px;
  }
  #mainMessage1 {
    font-size: 7em;
  }
  #mainMessage2 {
    font-size: 7em;
  }
}
