/* phone */
@media (max-width: 760px) {
  .cardBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cardRowR {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    justify-content: flex-end;
  }
  .cardRowL {
    width: 100%;
    display: flex;
    margin: 100px 0px;
    flex-direction: row;
  }
  .card {
    width: 500px;
  }
  .cardPrice {
    position: relative;
    top: 8px;
    right: 5px;
    font-size: 1.2em;
    font-weight: 200;
  }
}

/* reg ipad */
@media (min-width: 760px) and (max-width: 992px) {
  .cardBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cardRowR {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    justify-content: flex-end;
  }
  .cardRowL {
    width: 100%;
    display: flex;
    margin: 100px 0px;
    flex-direction: row;
  }
  .card {
    width: 5200px;
  }
  .cardPrice {
    position: relative;
    top: 8px;
    right: 5px;
    font-size: 1.2em;
    font-weight: 200;
  }
}

/* big ipad */
@media (min-width: 992px) and (max-width: 1200px) {
  .cardBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cardRowR {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    justify-content: flex-end;
  }
  .cardRowL {
    width: 100%;
    display: flex;
    margin: 100px 0px;
    flex-direction: row;
  }
  .card {
    width: 600px;
  }
  .cardPrice {
    position: relative;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
    font-weight: 200;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .cardBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cardRowR {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    justify-content: flex-end;
  }
  .cardRowL {
    width: 100%;
    display: flex;
    margin: 100px 0px;
    flex-direction: row;
  }
  .card {
    width: 700px;
  }
  .cardPrice {
    position: relative;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
    font-weight: 200;
  }
}
